* {

    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
} */


kbd{
    background-color:  rgb(236, 236, 236);
    border-radius: 5%;
    padding: 5px;
    border: rgb(189, 189, 189);
}

h1 {
    text-align: center;

}

.content {
    padding: 0, 60px;

}
